<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'music/css/style.css' %}"rel="stylesheet" /> 
    <title>Document</title>
</head>
<body>
    
<header class="header">
    <ul>
        <li><a href="../">Home</a></li>
        <li><a href="../artistas/">Artistas</a></li>
        <li><a href="../albumes/">Álbumes</a></li>
        <li><a href="../canciones/">Canciones</a></li>
      </ul>    
</header>    
   
{% block cuerpo%}

{% endblock %}      

<footer class="contactos">
    <div class="contenedor">
        <div class="contenido">about us</div>
        <div class="contenido">
            marcos@marcos.com
        </div>
        <div class="contenido">copyrigth</div>
    </div>
</footer>    

</body>
</html>